@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rouge+Script&family=Tangerine:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*Al usar box-sizing: border-box, le dices al navegador: "Haz que el ancho que yo defina incluya el padding y el borde"*/
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    line-height: 1.5;
    color: #000;
    background: linear-gradient(115deg,rgba(242, 206, 222, 1) 19%, rgba(230, 211, 229, 1) 30%, rgba(255, 201, 226, 1) 50%, rgba(255, 232, 214, 1) 75%);
    
}

:root{
--color:#2b2929; 
}

.hero-section{
    width: 100%;
    max-width: 1840px; /* Ancho máximo para pantallas muy grandes */
    margin: 0 auto;
    padding: 2% 5%; /* Espacio a los lados que escala */
}

.hero-grid{
    display: grid;
    text-align: center;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
    grid-template-columns: 1fr; /* Una columna en móvil */
    gap: 2rem;
    padding: 2rem 0;
}

.hero-content h1{  
    font-size: 3rem;
    text-align: center;
    color: var(--color);
    line-height: 1.1;
    margin-bottom: 1.5rem;
}

.hero-content p {
    font-size: 2rem;
    color: var(--color);
    margin-bottom: 2rem;
    max-width: 500px;
}

.hero-image img{
    display: flex;
    width: 100%;
    height: auto;
    border-radius: 6rem;
    object-fit:cover;
    
}

/*gallery*/

.pricing-grid{
    width: 100%;
    max-width: 1840px; /* Ancho máximo para pantallas muy grandes */
    margin: 0 auto;
    

}

.trabajos img{
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 3rem;
    object-fit:cover;
    margin: 3.5% 0;
}

.trabajos h1{
    font-size: 3rem;
    text-align: center;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;
}


.contacto a{
    display: flex;
    border-radius: 2rem;
    color: aliceblue;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    background: linear-gradient(115deg,rgba(247, 72, 151, 1) 19%, rgba(247, 106, 240, 1) 30%, rgba(129, 14, 196, 1) 50%, rgba(235, 12, 164, 1) 75%);
    font-size: 3rem;
    text-align: center;
    font-family: "Rouge Script", cursive;
    font-weight: 400;
    font-style: normal;


}